
/* Header styles */
.headers {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .parent-headder {
    display: flex;
    align-items: center;
  }

  .sale-btn{
    width: 75%;
    border-radius: 10px;
    margin-left: 0.5rem;

  }

  .add-sal{
    border-radius: 10px;
    margin-left: 0.5rem;
  }
  .del-btn{
    margin-left: 12rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
.cat-parent{
  display: flex;
  justify-content: space-around;
}






  .summer-border {
    border: 1px solid black;
    border-radius: 20px;
    /* padding: 0rem; */
    height: 7vw;
    margin: 2rem auto 0;
    max-width: 90%;
  }
  
  .summer-parag {
    font-size: 1.5vw;
    font-weight: bold;
    /* margin-top: 1rem; */
    padding: 2rem;
  }
  
  .newcategory {
    border: 1px solid black;
    border-radius: 20px;
    width: 13rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 90%;
  }
  
  .newcategory p {
    margin: 0;
    margin-right: 10px;
  }
  
  .addbutton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .addbutton img {
    height: 20px;
    width: 20px;
  }


  @media only screen and (max-width: 1200px){
    .summer-parag {
      font-size: 2vw;
      margin-top:-1vw;
    }

  }

  @media only screen and (max-width: 1000px){
    .summer-parag {
      font-size: 2vw;
      margin-top:-2vw;
    }

  }
  
  /* Media query for screens with a maximum width of 768px */
  @media only screen and (max-width: 768px) {
    .summer-border {
      height: auto;
      padding: 0vw;
      margin: 2rem auto;
    }
  
    .summer-parag {
      font-size: 6vw;
      margin-top: 2vw;
    }
  
    .newcategory {
      width: 30%;
      /* margin-left: 260px; */
      margin: auto;
    }
  
    .addbutton img {
      height: 15px;
      width: 15px;
    }
  }
  @media only screen and (max-width: 400px){

    .newcategory {
      width: 43%;
      /* margin-left: 260px; */
      margin: auto;
  }
    
  }


 
  
  
  /* .summer-border {
    border: 1px solid black;
    padding-right: 1.5vw;
    border-radius: 20px;
    height: 4vw;
    margin-left: 46rem;
    margin-top: 2rem;
    padding-left: 1.5vw;
  }
  
  .summer-parag {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 1vw;
    
  }
  
  .newcategory {
    border: 1px solid black;
    border-radius: 20px;
    width: 13rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 38rem;
  }
  
  .newcategory p {
    margin: 0;
    margin-right: 10px;
  }
  
  .addbutton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .addbutton img {
    height: 20px;
    width: 20px;
  } */
  
  /* Main body styles */
  .main-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .collaps {
    width: 100%;
    max-width: 40rem;
    
  }
  
  .collaps-title {
    background-color: #eee;
    margin-bottom: 10px;
    padding-left: 1rem;
  }

 

 
  .Collapsible{
    background-color: rgb(236, 235, 227);
    padding: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 1rem; */
  }

  
  .collaps-title p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 1rem;
    /* justify-content:center; */
    /* padding-left: 2rem; */
  }
  
  .background-none {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .img-adding-button-contet {
    height: 20px;
    width: 20px;
    margin-right: -4rem;
    margin-bottom: 1rem;

  }
  
  .content-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin:1rem
    
  }
  
  .content-dashboard .parag-dash-content {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
  }
  
  .content-dashboard .flex-content-end button {
    margin-left: 10px;
  }
  
  .content-dashboard .flex-content-end img {
    height: 20px;
    width: 20px;
  }
  


/* .headers {
    width: 60%;
    margin-left: 20%;
    padding-top: 2vw;
}

.parent-headder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vw;
}

.firstdiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summer-border {
    padding-right: 1.5vw;
    border: 2px solid black;
    border-radius: 50px;
    height: 4vw;

    padding-left: 1.5vw;
}

.summer-parag {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 1vw;
}

.makesaleby {
    padding: 1vw;
    border: 1px solid black;
    width: 16vw;
}

.makesaleby-firstinside {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.input-sale {
    height: 2vw;
}


.submit-sale {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.submit-salebutton {
    background: none;
    font-size: 1.5vw;
}




/* switch of the dashborad  */



/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
} */

/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} */
/* 
input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.newcategory {
    display: flex;
    flex-direction: row;
}

.addbutton {
    background: none;
    border: none;

}

.main-body-container {

    height: 20vw;
    margin-top: 2vw;
}

.collaps {

    width: 80%;
    margin-left: 10%;
    font-size: 1.5vw;
    border: 1px solid black;


}

.collaps-title {

    border: 1px solid black;

}

.content-dashboard {
    border: 1px solid black;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parag-dash-content {
    margin: 0px;

}

.flex-content-end {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 10%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-adding-button-contet {
    height: 2vw;
}

.background-none {
    background: none;
    border: none;
}  */














.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  }
  
  .form-popup h1 {
    text-align: center;
    margin-top: 0px;
    font-size: 24px;
  }
  
  .form-popup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-popup input[type="text"], .form-popup input[type="file"] {
    border: 1px solid #0c0b0b;
    

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    /* border: none; */
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .form-popup input[type="file"] {
    margin-bottom: 20px;
  }
  
  .form-popup .textform {
    display: inline-block;
    margin-right: 10px;
  }
  
  .form-popup .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 247, 6);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .form-popup .btn:hover {
    background-color: yellow;
  }
  
  .form-popup .cancel {
    background-color: #070707;
  }
  
  .form-popup .cancel:hover {
    background-color: #0a0a0a;
  }
  

/* formadd product popup  */



/* 
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    width: 300px;
    height: 400px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: aqua;
}

/* Add styles to the form container */
/* .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
/* .form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
} */

/* When the inputs get focus, do something */
/* .form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
} */

/* Set a style for the submit/login button */
/* .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
} */

/* Add a red background color to the cancel button */
/* .form-container .cancel {
    background-color: red;
} */

/* Add some hover effects to buttons */
/* .form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}   */