.card-doctor-dash{
  background-color: #3281b1;
  height: auto;
  padding-bottom: 1%;
  width: 20vw;
  padding-left: 1%;
  text-align: left;
  border-radius: 1vw;
  color: white;

}

.container-card-doctordash{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1%;
  width: 80%;
  padding-left: 10%;
}
.header-card-doc{
  text-align: left;
}
.btn-doc{
  border: 1px solid Red;
  border-radius: 0.5vw;
  height: 3vw;
  background-color: white;
  color: Red;
  font-weight: 600;
  float: right;
  margin-right: 5%;

}
@media screen and (max-width: 1080px) {
  .container-card-doctordash{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1%;
    width: 80%;
    padding-left: 10%;
  }
  .card-doctor-dash{
    background-color: #3281b1;
    height: auto;
    padding-bottom: 1%;
    width: 100%;
    padding-left: 1%;
    text-align: left;
    border-radius: 1vw;
    color: white;
  
  }
  .btn-doc {
    border: 1px solid Red;
    border-radius: 2.5vw;
    height: 9vw;
    background-color: white;
    color: Red;
    font-weight: 600;
    float: right;
    margin-right: 5%;
}
}

