.register-new-doctor {
    margin: auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  .register-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .register-form input[type='text'],
  .register-form input[type='number'],
  .register-form input[type='file'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .category-buttons button {
    margin-right: 10px;
  }
  
  .subcategory-list div {
    margin-top: 10px;
  }
  
  .submit-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0069d9;
  }
  
  
  .container-alldoctors {
    padding-top: 5vw;
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
 
}


.text-docaration{
  text-decoration: none;
}














/* responsiveeeeeeeee */
/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {

}
















/* On screens that are 600px wide or less, the background color is olive */







@media screen and (max-width: 600px) {



  .container-specielties {
    width: 80%;
    height: 84vw;
    margin-left: 10%;
}

.container-card-doctors-text {
  padding-left: 2%;
  width: 70%;
  font-size: 3vw;
  background-color: #3281B1;
  border: 1px solid #3281B1;
  border-radius: 4vw;
  text-align: left;
  color: white;

}

.border-under-title {
  border-bottom: 4px solid #3281B1;
  width: 20%;
  height: 10vw;
}
.title-specielties {
  color: #3281B1;
  font-size: 3.5vw;
  text-align: center;
}
.image-boxshadow-doctors-services{
  border-radius: 4vw;
  width: 70%;
  height: 100%;
  box-shadow: 0px 0px 11px 0px #0b275a;
}

.container-alldoctors {
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}
}